auto lo
iface lo inet loopback
  address {{ node[inventory_hostname]["loopback"]["ip"] }}/32
  clagd-vxlan-anycast-ip {{ node[inventory_hostname]["loopback"]["clag_anycast"] }}

auto vagrant
iface vagrant inet dhcp

auto swp43
iface swp43
    alias {{ node[inventory_hostname]["swp43"]["description"] }}

auto swp44
iface swp44
    alias {{ node[inventory_hostname]["swp44"]["description"] }}

{%- for ports in node[inventory_hostname]["subinterfaces_red"] %}


auto {{ ports }}
iface {{ ports }}
vrf RED
{%- endfor %}    

{%- for ports in node[inventory_hostname]["subinterfaces_blue"] %}


auto {{ ports }}
iface {{ ports }}
vrf BLUE
{%- endfor %}    

auto eth0
iface eth0 inet dhcp

# Port to Leaf02
auto swp49
iface swp49
  alias {{ node[inventory_hostname]["swp49"]["description"] }}
  # This is required for Vagrant only
  post-up ip link set swp49 promisc on

# Port to Leaf02
auto swp50
iface swp50
  alias {{ node[inventory_hostname]["swp50"]["description"] }}
  # This is required for Vagrant only
  post-up ip link set swp50 promisc on

# Port to Spine01
auto swp51
iface swp51
  alias {{ node[inventory_hostname]["swp51"]["description"] }}

# Port to Spine02
auto swp52
iface swp52
  alias {{ node[inventory_hostname]["swp52"]["description"] }}

# CLAG Peerlink bond
auto peerlink
iface peerlink
  bond-slaves swp49 swp50

# CLAG Peerlink L2 interface.
# This creates VLAN 4094 that only lives on the peerlink bond
# No other interface will be aware of VLAN 4094
auto peerlink.4094
iface peerlink.4094
  address {{ node[inventory_hostname]["peerlink"]["address"] }}
  clagd-peer-ip {{ node[inventory_hostname]["peerlink"]["peerip"] }}
  clagd-sys-mac {{ node[inventory_hostname]["peerlink"]["mac"] }}
  clagd-priority {{ node[inventory_hostname]["peerlink"]["priority"] }}

# Define the bridge for STP
auto bridge
iface bridge
  bridge-vlan-aware yes
  # bridge-ports includes all ports related to VxLAN and CLAG.
  # does not include the Peerlink.4094 subinterface
  bridge-ports {%- for ports in node[inventory_hostname]["bridge"]["ports"] %} {{ ports }}
  {%- endfor %}
  
  bridge-vids {%- for vids in node[inventory_hostname]["bridge"]["vlans"] %} {{ vids }}
  {%- endfor %}
  
  bridge-pvid 1

auto RED
iface RED
    vrf-table auto

auto BLUE
iface BLUE
    vrf-table auto

auto vlan4001
iface vlan4001
	hwaddress {{ node[inventory_hostname]["vlan4001"]["mac"] }}
    vlan-id {{ node[inventory_hostname]["vlan4001"]["vlan"] }}
    vlan-raw-device bridge
    vrf {{ node[inventory_hostname]["vlan4001"]["vrf"] }}

auto vlan4002
iface vlan4002
	hwaddress {{ node[inventory_hostname]["vlan4002"]["mac"] }}
    vlan-id {{ node[inventory_hostname]["vlan4002"]["vlan"] }}
    vlan-raw-device bridge
    vrf {{ node[inventory_hostname]["vlan4002"]["vrf"] }}

auto l3vni_red
iface l3vni_red
    bridge-access {{ node[inventory_hostname]["l3vni_red"]["vlan_id"] }}
    bridge-arp-nd-suppress on
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    vxlan-id {{ node[inventory_hostname]["l3vni_red"]["vxlan_id"] }}
    vxlan-local-tunnelip {{ node[inventory_hostname]["loopback"]["ip"] }}

auto l3vni_blue
iface l3vni_blue
    bridge-access {{ node[inventory_hostname]["l3vni_blue"]["vlan_id"] }}
    bridge-arp-nd-suppress on
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    vxlan-id {{ node[inventory_hostname]["l3vni_blue"]["vxlan_id"] }}
    vxlan-local-tunnelip {{ node[inventory_hostname]["loopback"]["ip"] }}
