frr defaults datacenter
  username cumulus nopassword
  !
  service integrated-vtysh-config
  !
  log syslog informational
  !
  vrf RED
   exit-vrf
  vrf BLUE
   exit-vrf
  !
  {% for interface in node[inventory_hostname]["subinterfaces_red"] -%}
  interface {{ interface }}
   ipv6 nd ra-interval 10
   no ipv6 nd suppress-ra
  {% endfor %}
  !
  {% for interface in node[inventory_hostname]["subinterfaces_blue"] -%}
  interface {{ interface }}
   ipv6 nd ra-interval 10
   no ipv6 nd suppress-ra
  {% endfor %}
  !
  router bgp {{ node[inventory_hostname]["bgp"]["as"] }} vrf RED
   bgp router-id {{ node[inventory_hostname]["loopback"]["ip"] }}
   {% for interface in node[inventory_hostname]["subinterfaces_red"] -%}
   neighbor {{ interface }} interface remote-as external
   neighbor {{ interface }} default-originate
   {% endfor %}
  !
  router bgp {{ node[inventory_hostname]["bgp"]["as"] }} vrf BLUE
   bgp router-id {{ node[inventory_hostname]["loopback"]["ip"] }}
   {% for interface in node[inventory_hostname]["subinterfaces_blue"] -%}
   neighbor {{ interface }} interface remote-as external
   neighbor {{ interface }} default-originate
   {% endfor %}
  !
  line vty
  !