auto lo
iface lo inet loopback
auto eth0
iface eth0 inet dhcp


auto eth1
iface eth1 inet manual
  bond-master uplink
  # Required for Vagrant
  post-up ip link set promisc on dev eth1

auto eth2
iface eth2 inet manual
  bond-master uplink
  # Required for Vagrant
  post-up ip link set promisc on dev eth2

auto uplink
iface uplink inet static
  bond-slaves eth1 eth2
  bond-mode 802.3ad
  bond-miimon 100
  bond-lacp-rate 1
  bond-min-links 1
  bond-xmit-hash-policy layer3+4
  address {{ node[inventory_hostname]["address"] }}
  netmask 255.255.255.0
  post-up ip route add 10.0.0.0/8 via {{ node[inventory_hostname]["gateway"] }}