frr defaults datacenter
  username cumulus nopassword
  !
  service integrated-vtysh-config
  !
  log syslog informational
  !
  {% for interface in node[inventory_hostname]["bgp"]["neighbors"] -%}
  interface {{ interface }}
   ipv6 nd ra-interval 10
   no ipv6 nd suppress-ra
  {% endfor %}
  !
  router bgp {{ node[inventory_hostname]["bgp"]["as"] }}
   bgp router-id {{ node[inventory_hostname]["loopback"]["ip"] }}
   bgp bestpath as-path multipath-relax
   {% for interface in node[inventory_hostname]["bgp"]["neighbors"] -%}
   neighbor {{ interface }} interface remote-as external
   {% endfor %}
   !
   address-family l2vpn evpn
    {% for interface in node[inventory_hostname]["bgp"]["neighbors"] -%}
    neighbor {{ interface }} activate
    {% endfor %}
   exit-address-family
  !
  line vty
  !